<!DOCTYPE html>
<html>
<head>
    <title>View Students</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/header') %>

    <div class="container">
        <h2>All Students</h2>

        <table border="1">
            <tr>
                <th>Student ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Hostel ID</th>
            </tr>
            <% students.forEach(stu => { %>
                <tr>
                    <td><%= stu.student_id %></td>
                    <td><%= stu.name %></td>
                    <td><%= stu.email %></td>
                    <td><%= stu.hostel_id %></td>
                </tr>
            <% }) %>
        </table>

        <a href="/warden/dashboard" class="back-link">Back to Dashboard</a>
    </div>
    <a href="/student/dashboard" class="back-btn">⬅ Back to Dashboard</a>


    <%- include('../partials/footer') %>
</body>
</html>
